@import url(./fonts.css);
@import url(./reset.css);
.container {
  width: 800px;
  padding: 100px 0 0 0;
}
.container #response table {
  border-top: 1px solid #333;
}
.container #response table th {
  height: 50px;
}
.container #response table td {
  height: 40px;
  padding: 0 0 0 10px;
}